<!doctype html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>MySNiPS</title>
  </head>
  <body>

  <div class="mw-100">

    <!-- Início navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-info fixed-top">
      <a class="navbar-brand" href="#">MySNiPs</a>

      <!-- Botão navbar responsivo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Itens navbar -->
      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link interno" href="#inicio">Início</a></li>
          <li class="nav-item"><a class="nav-link interno" href="#">Relatos</a></li>
          <li class="nav-item"><a class="nav-link interno" href="#vantagens">Vantagens</a></li>
          <li class="nav-item"><a class="nav-link interno" href="#parceiros">Parceiros</a></li>
          <li class="nav-item"><a class="nav-link interno" href="#sobre">Sobre</a></li>
          <% if current_user %>
          <% else %>
          <li class="nav-item"><a class="nav-link" href="/login" target="_self">Login</a></li>
          <% end %>
        </ul>
      </div>

    </nav>
    <!-- Fim navbar -->

    <!-- Início do cabeçalho -->
   <div class="bg-overlay-inicio my-4" id="inicio">
	    <div class="text-center mt-5">
		    <h1>MySNiPs</h1>
        <h4>Um relatório sobre seu DNA como você nunca viu.</h4>
	    </div>
    </div>
    <!-- Fim do cabeçalho -->

    <!-- Inicio cards div -->

    <div id="vantagens">
    <h1 class="text-center mb-5">Vantagens</h1>

    <!-- Inicio cards -->
    <div class="row">
    

      <!-- Espaço card -->
      <div class="col-sm-3 col-md-3 mb-3">

        <!-- Corpo card -->
        <div class="card border-0">
          <i class="fas fa-heartbeat fa-5x mx-auto"></i>
          <div class="card-body text-center">
            <h4 class="cad-title">Predisposição à doenças</h4>
          </div>
        </div>
      
      </div>
      <!-- Fim do espaço -->

      <!-- Espaço card -->
      <div class="col-sm-3 col-md-3 mb-3">

      <!-- Corpo card -->
        <div class="card border-0">
          <i class="fas fa-dna fa-5x mx-auto"></i>
          <div class="card-body text-center">
            <h4 class="cad-title">Entender Sistema Hereditário</h4>
          </div>
        </div>

      </div>
      <!-- Fim do espaço -->

      <!-- Espaço card -->
      <div class="col-sm-3 col-md-3 mb-3">

      <!-- Corpo card -->
        <div class="card border-0">
          <i class="fas fa-capsules fa-5x mx-auto"></i>
          <div class="card-body text-center">
            <h4 class="cad-title">Resistência à medicações</h4>
          </div>
        </div>

      </div>
      <!-- Fim do espaço -->

      <!-- Espaço card -->
      <div class="col-sm-3 col-md-3 mb-3">

      <!-- Corpo card -->
        <div class="card border-0">
          <i class="fas fa-fingerprint fa-5x mx-auto"></i>
          <div class="card-body text-center">
            <h4 class="cad-title">Características de um indivíduo</h4>
          </div>
        </div>

      </div>
      <!-- Fim do espaço -->

    </div>
    <!-- Fim do card -->
    </div>
    <!-- Fim do card div -->

    <div class="bg-overlay-parceiros-genomika my-4" id="parceiros">
	    <div class="text-center">
		    <h1>Genomika</h1>
        <h4>A Genomika Diagnóstico é uma startup com dois anos de existência, com sede no polo médico do Recife. O laboratório realiza testes inovadores de sequenciamento genético no Brasil utilizando tecnologia de segunda geração.</h4>
        <a class="btn btn-info mt-4" href="https://www.genomika.com.br/" target="_blank">Conheça a Genomika</a>
	    </div>
    </div>

    <div class="bg-overlay-sobre my-4" id="sobre">
	    <div class="text-center mt-5">
		    <h1>MySNiPs</h1>
        <h4>O MySNiPs é um SaaS que integra mapamentos genéticos com bases de dados públicas e possibilita insights baseados no DNA dos usuários.</h4>
        <%= link_to 'Acesse nosso relatório', login_path,class: 'btn btn-info mt-4' %>
	    </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark bg-white">

    <!-- Cabeçalho -->
    <div class="bg-gradient-info">

      <div class="container">

        <!-- Linha -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Coluna mensagem -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 text-white">Nos siga nas redes sociais</h6>
          </div>
          <!-- Coluna mensagem fim -->

          <!-- Coluna links -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="#" target="_blank">
              <i class="fab fa-facebook text-white mr-4"></i>
            </a>
            <!-- Twitter -->
            <a href="#" target="_blank">
              <i class="fab fa-twitter text-white mr-4"></i>
            </a>
            <!-- Google +-->
            <a href="#" target="_blank">
              <i class="fab fa-google-plus text-white mr-4"></i>
            </a>
            <!--Linkedin -->
            <a href="#" target="_blank">
              <i class="fab fa-linkedin text-white mr-4"> </i>
            </a>
            <!--Instagram-->
            <a href="#" target="_blank">
              <i class="fab fa-instagram text-white mr-4"> </i>
            </a>

          </div>
          <!-- Coluna links fim -->

        </div>
        <!-- Linha fim-->

      </div>
    </div>
    <!-- Cabeçalho fim -->

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Linha -->
      <div class="row mt-3">

        <!-- Coluna -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Conteudo -->
          <h6 class="text-uppercase font-weight-bold">MySNiPS</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus nisi velit. Cras ut vestibulum sapien.</p>

        </div>
        <!-- Coluna fim -->

        <!-- Coluna -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Produtos</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#">Diagnóstico</a>
          </p>
          

        </div>
        <!-- Coluna fim -->

        <!-- Coluna -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Parceiros</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#">Genomika</a>
          </p>
          

        </div>
        <!-- Coluna fim -->

        <!-- Coluna -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contato</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Pernambuco, Recife, BR</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> email</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 55 81 4002 8922</p>

        </div>
        <!-- Coluna fim -->

      </div>
      <!-- Linha fim -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-gradient-info">© 2018 Copyright:
      <a href="#" class="text-white"> MySNiPs</a>
    </div>
    <!-- Copyright -->    <a href="#" class="text-white"> MySNiPs</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </div>
  
  </footer>
  <!-- Footer -->

  </div>
  
	<script>
		$('nav a').click(function(e){
			e.preventDefault();
      var id = $(this).attr('href');
      var modo=$(this).attr('target');
      console.log(id);
      var classe = $(this).attr('class');
      if (classe=='nav-link interno'){
			var distancia_topo = $(id).offset().top;
			var altura_menu = $("nav").innerHeight();

			$('html, body').animate({
				scrollTop : distancia_topo - altura_menu - 70
			}, 500)
    }
    else{window.open(id,modo);}});
	</script>
  </body>
</html>
